{% extends 'base.html' %} 

{% load static %}

{% block title %}Open Language App{% endblock %} 
{% block content %}

    

    <div class="main_content">
        <h4 class="main_title" id="player_title">Welcome {{ user.username }}</h4>
        <div id="player_wrapper"></div>
        <button id="main_action_button">Start</button>
    </div>

    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let create_new_exercise_url = "{% url 'create_new_exercise' %}";
        let get_created_exercise_url = "{% url 'get_created_exercise' %}";
        let submit_answer_url = "{% url 'submit_answer' %}";
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.email }}";

    </script>

    <script src="{% static 'js/player.js' %}"></script>


{% endblock %}