{% load static %}

{% extends 'base.html' %} 
{% block title %}SETTINGS{% endblock %} 
{% block content %} 


    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Settings for {{ user.username }}</h4>
        </div>
    </div>

    
    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.id }}";

    </script>

    <script src="{% static 'js/settings.js' %}"></script>

{% endblock %}