{% extends 'base.html' %} 

{% load static %}

{% block title %}Open Language App | Settings{% endblock %} 
{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg rounded">
                    <div class="card-body">
                        <h4 class="main_title text-center mb-4" id="player_title">Settings for {{ user.username }}</h4>

                        <!-- 
                            <a href="{% url 'create_checkout_session' %}">
                                <button>Subscribe Now</button>
                            </a>
                        -->

                        <!-- <button>
                            <a href="{% url 'customer_portal' %}">Manage Subscription</a>
                        </button> -->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let home_url = "{% url 'home' %}";
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.email }}";

    </script>

    <script src="{% static 'js/settings.js' %}"></script>

{% endblock %}