{% extends 'base.html' %} 

{% load static %}

{% block title %}Open Language App | Settings{% endblock %} 
{% block content %}

<!-- 
    <a href="{% url 'create_checkout_session' %}">
        <button>Subscribe Now</button>
    </a>
-->

    <div class="main_content">
        <h4 class="main_title">Settings for {{ user.username }}</h4>
    
        <button>
            <a href="{% url 'customer_portal' %}">Manage Subscription</a>
        </button>
    
    
    </div>

    
    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let home_url = "{% url 'home' %}";
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.email }}";

    </script>

    <script src="{% static 'js/settings.js' %}"></script>

{% endblock %}