{% extends 'base.html' %} 

{% load static %}

{% block title %}Open Language App{% endblock %} 
{% block content %}

    

    <div class="main_content">
        <h4 class="main_title">Welcome {{ user.username }}</h4>
        <div id="player_wrapper">
            
        </div>
    </div>

    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.email }}";

    </script>

    <script src="{% static 'js/player.js' %}"></script>


{% endblock %}