{% load static %}

{% extends 'base.html' %} 
{% block title %}Open Language App | Settings{% endblock %} 
{% block content %}

<!-- 
    <a href="{% url 'create_checkout_session' %}">
        <button>Subscribe Now</button>
    </a>
 -->

    <a href="{% url 'customer_portal' %}">
        <button>Manage Subscription</button>
    </a>

    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Settings for {{ user.username }}</h4>
        </div>
    </div>
    
    <script src="{% static 'js/common.js' %}"></script>
    
    <script>
        
        let user_name = "{{ user.username }}";
        let user_id = "{{ user.email }}";

    </script>

    <script src="{% static 'js/settings.js' %}"></script>

{% endblock %}